// COLORS
$primary-color-blue: #2c3e50;
$secondary-color-skyblue: #3edbf0;
$secondary-color-skyblue-dark: #4ca1af;
$secondary-color-skyblue-light: #c0fefc;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$light-grey: #f7f7f7;
$light-grey-2: #eee;

$deep-sea-gre-light: #4ca1af;
$deep-sea-gre-dark: #2c3e50;
$pancho-gre-light: #be5869;
$pancho-gre-dark: #403a3e;
$winter-gre-light: #73c8a9;
$winter-gre-dark: #373b44;
$moonlit-gre-dark: #0f2027;
$moonlit-gre: #203a43;
$moonlit-gre-light: #2c5364;

// Font
$default-font-size: 1.6rem;

// GRID
$row-width: 114rem;
$gutter-horizontal: 5rem;
$gutter-vertical: 6rem;
