.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgb($primary-color-blue, 0.8),
      rgb($secondary-color-skyblue-light, 0.6)
    ),
    url(../Image/landing-1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 4rem;
    animation: moveInRight 1s ease-in 0.8s;
    animation-fill-mode: backwards;
  }

  &__logo {
    width: 6rem;
  }
  &__logo:hover {
    transform: rotate(-20deg) scale(1.2);
  }

  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
