.composition {
  position: relative;

  &__photo {
    width: 55%;
    position: absolute;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transition: all 0.3s;
    outline-offset: 1.5rem;
    border: 1.2rem solid $primary-color-blue;
    background-color: $primary-color-blue;
    background-blend-mode: overlay;
      

    @include respond(tab-port){
      position: relative;
      float: left;
      width: 50%;
      box-shadow: 0 1.5rem 2rem rgba($color-black, 0.2);
      border-radius: 2px;
      outline-offset: 1rem;
      border: 1rem solid $primary-color-blue;
      background-color: $primary-color-blue;
      background-blend-mode: overlay;
      
    }

    &:hover {
      z-index: 10;
      transform: scale(1.03) translateY(-2px);
      border: none;
      outline: 2rem solid $primary-color-blue;
      box-shadow: 0 2rem 4rem rgba($color-black, 0.6);

      @include respond(tab-port){
        outline: 1rem solid $primary-color-blue;
      }
    }

    &--p1 {
      top: -2rem;
      left: 0;

      @include respond(tab-port){
        top: 4rem;
        left: 4rem;
     
      }
    }

    &--p2 {
      top: 3rem;
      right: 10%;

      @include respond(tab-port){
        top: -1rem;
        left: -4rem;
        z-index: 5;
      }
    }

    &--p3 {
      top: 10rem;
      left: 15%;

      @include respond(tab-port){
        top: -7rem;
        left: 10rem;
      }
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
}
