.feature-box {
  height: auto;
  padding: 4rem 1rem;
  background-color: rgba($light-grey, 0.7);
  color: $color-grey-dark;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  transition: all 0.2s;
  font-size: 1.5rem;

  @include respond(tab-land){
    width: 100%;
    padding: 4rem 2rem;
    height: auto;
  }
  @include respond(tab-port){
    width: 100%;
    padding: 4rem 2rem;
    height: auto;
    
  }

  &:hover {
    transform: scale(1.05) translateY(-6px);
    cursor: pointer;
  }

  &__icon {
    font-size: 6rem;
    display:block;
    margin-bottom: 3rem;
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    -webkit-background-clip: text;
    color: transparent;
  }
}
