.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    display: block;
    color: inherit;
    font-family: inherit;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid transparent;
    background-color: rgba($color-white, 0.6);
    box-shadow: 0 2rem 6rem rgba($color-black, 0.1);
    padding: 1.2rem 2rem;
    width: 90%;
    transition: all 0.2s;

    &:focus {
      outline: none;
      border-bottom: 3px solid $primary-color-blue;
      box-shadow: 0 2rem 6rem rgba($color-black, 0.2);
      transition: all 0.3s;
    }

    &:focus:invalid {
      border-bottom: 3px solid $pancho-gre-light;
    }
    &::-webkit-input-placeholder {
      color: $color-grey-dark;
    }
  }

  &__label {
    font-size: 1.3rem;
    margin-top: 0.9rem;
    margin-left: 1rem;
    font-weight: 700;
    display: block;
    transition: all 0.3s ease;
  }

  &__input:placeholder-shown + &__label {
    transform: translateY(-4rem);
    opacity: 0;
  }

  &__radio-group {
    display: inline-block;
    width: 45%;
    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    padding-left: 4rem;
    position: relative;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 4px solid $primary-color-blue;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -0.5rem;
    left: 0;

    &::after {
      content: "";
      height: 1.3rem;
      width: 1.3rem;
      background-color: $primary-color-blue;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.2s ease-out;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
